<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Pradeep Singh is a Web developer, Blogger and Writer. He creates optimal cost, SEO optimized, responsive websites and web pages.">
  <meta name="keywords" content="Pradeep Singh, Pradeep Singh Portfolio, Pradeep's Portfolio, Pradeep Web Developer, Front-end Web Developer, website designer, SEO, SEM, SMM">
  <title>Pradeep Singh | Web Developer & Digital Marketer</title>
  <link rel="canonical" href="http://www.psrajput.com" />
  <link rel="icon" href="/img/ps7.png">
  <style>
  *,*::before,*::after{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;text-decoration:none;scroll-behavior:smooth}body{font-family:system-ui,sans-serif;background:#fff;height:100%}img{max-width:100%}.flex-parent{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}#main{max-width:100%;-webkit-touch-callout:none;background:#eeefe5}#about{min-height:100vh}#main-nav{width:100%;height:5rem!important;margin:0;padding:0 8rem;background-color:#2098d1;text-transform:uppercase;font-size:1rem}#left-nav,#right-nav{display:inline-block;height:3rem}#left-nav{float:left}#right-nav{float:right;margin-top:2rem}#main-nav a{padding:1.5rem 1rem!important;line-height:3rem;color:#fff}#logo{width:3rem;height:3rem;margin-top:1.5rem}#open-slide{width:1rem;height:1rem;position:fixed;top:1.5rem;right:1.5rem}#open-slide i{font-size:1.5rem}#side-nav{display:none}#side-menu{text-align:center;position:fixed;z-index:2;top:0;right:0;width:0;height:100%;overflow:hidden;background:-webkit-linear-gradient(300deg,#cbc0b7,#618bb4);background:-o-linear-gradient(300deg,#cbc0b7,#618bb4);background:linear-gradient(150deg,#cbc0b7,#618bb4)}#side-menu a{color:#00f;display:block;font-weight:700;width:100%;font-size:1.2rem;border-bottom:1px solid #999;padding:25px 0;margin:0 auto}#about{color:#fff;text-align:center;background:#2098d1}h1{font-size:2rem;font-weight:500;font-family:YatraOne,cursive}#intro-text{font-size:1.4rem;font-weight:300;margin-top:.5rem;font-family:OpenSans,sans-serif}#social-links{margin:2rem auto}#social-links a{text-decoration:none;color:#f9f9f9;font-size:2rem;margin:0 .6rem}#scroller-container{display:none;position:fixed;bottom:1rem;right:1rem}#scroll-up{text-align:center;width:3rem;height:3rem;line-height:3rem;font-size:1.5rem;background:rgba(7,7,7,.1);border:1px solid #999;border-radius:30%;color:#fff;-ms-transform:rotate(-12deg);-webkit-transform:rotate(-12deg);transform:rotate(-12deg)}#scroller-bottom{height:1px;width:2rem;padding:0;display:block;position:relative;margin:-2px auto 0!important;-webkit-box-shadow:3px 5px 5px #000;box-shadow:3px 5px 5px #000}@media screen and (max-width:762px){#main-nav{padding:0}#left-nav{display:block;width:100px;margin:0 auto}#right-nav{display:none}#side-nav{display:block}#social-links a{font-size:1.5rem;margin:0 .5rem}#scroll-up{width:2rem!important;height:2rem!important;line-height:2rem;font-size:1rem}}@media screen and (min-width:763px) and (max-width:1200px){#main,html,body{margin:0}#about{width:100%}}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){#about{height:110vh;margin:auto}*::-ms-backdrop,#about{height:110vh;margin:auto}}
  </style>
</head>

<body>
  <div id="side-nav">
    <div id="sidemenuopener" onclick="menuToggle()">
      <div class="bar" id="bar1"></div>
      <div class="bar" id="bar2"></div>
      <div class="bar" id="bar3"></div>
    </div>
    <div id="side-menu">
      <a href="#expertise">Expertise</a>
      <a href="#projects">Projects</a>
      <a href="#articles">Articles</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
  <main id="main" onclick="clickBody();">
    <div id="main-nav">
      <div id="left-nav">
        <a href="#">
          <picture>
            <source srcset="/img/ps6.webp" type="image/webp" />
            <source srcset="/img/ps6.png" type="image/jpeg" />
            <img src="/img/ps6.png" alt="Logo" title="Pradeep Singh Portfolio Logo" id="logo">
          </picture>
        </a>
      </div>
      <div id="right-nav">
        <a href="#expertise">Expertise</a>
        <a href="#projects">Projects</a>
        <a href="#articles">Articles</a>
        <a href="#contact">Contact</a>
      </div>
    </div>
    <section id="about" class="flex-parent">
      <div id="about-container">
        <h1>Web Developer | CS Engineer | Blogger</h1>
        <p id="intro-text">Producing high quality responsive websites and exceptional user experience</p>
        <div id="social-links">
          <a id="facebook" href="https://www.facebook.com/psrajputofficial/" target="_blank">
            <img src="icons/facebook.svg">
          </a>
          <a id="twitter" href="https://twitter.com/mepsrajput" target="_blank">
            <img src="icons/twitter.svg">
          </a>
          <a id="instagram" href="https://www.instagram.com/psrofficial/" target="_blank">
            <img src="icons/instagram.svg">
          </a>
          <a id="medium" href="https://medium.com/@pradeepsinghrajput" target="_blank">
            <img src="icons/medium2.svg">
          </a>
          <a id="github" href="https://github.com/mepsrajput/" target="_blank">
            <img src="icons/github.svg">
          </a>
        </div>
      </div>
    </section>
    <section id="expertise">
      <div id="expertise-text-container">
        <div id="expertise-text"> I design websites which are cross browser compatible, responsive i.e., they perform well on all devices. All my designs are SEO optimized, so that the websites rank higher on search engines and the target audience find them easily.<br><br>Apart from this, I can help in marketing the stuffs over web.</div>
      </div>
      <div class="container flex-parent" id="expertise-container">
        <div class="skill-container">
          <div id="wordpress" class="skill">
            <img src="img/wordpress.svg" alt="Wordpress Logo" title="Wordpress Development">
          </div>
          <p class="skill-heading" id="wordpress-text">Wordpress Development</p>
        </div>
        <div class="skill-container">
          <div id="responsive" class="skill">
            <img src="img/responsive.svg" alt="Responsive Image" title="Responsive Web Development">
          </div>
          <p class="skill-heading" id="responsive-text">Responsive Websites</p>
        </div>
        <div class="skill-container">
          <div id="digital-marketing" class="skill">
            <img src="img/digital-marketing.svg" alt="Digital Marketing" title="Digital Marketing, SEO, SEM, SMM">
          </div>
          <p class="skill-heading" id="marketing-text">Digital Marketing</p>
        </div>
        <div class="skill-container">
          <div id="seo" class="skill">
            <img src="img/seo.svg" alt="SEO" title="SEO Optimization">
          </div>
          <p class="skill-heading" id="seo-text">SEO Optimization</p>
        </div>
      </div>
    </section>
    <section id="projects">
      <div class="header">
        <h2>Featured Work</h2></div>
        <div class="container flex-parent" id="projects-container">
          <div class="project-container">
            <div class="project-image-container">
              <a href="https://mepsrajput.github.io/portfolio/" target="_blank">
                <picture>
                  <source srcset="/img/portfolio.webp" type="image/webp" />
                  <source srcset="/img/portfolio.jpg" type="image/jpeg" />
                  <img  class="project-image" src="/img/portfolio.jpg" title="Portfolio Project" alt="Portfolio">
                </picture>
              </a>
            </div>
            <div class="project-text">
              <h4 class="project-heading">Portfolio Project</h4>
              <p>HTML, CSS, Bootstrap, JS</p>
            </div>
          </div>
          <div class="project-container">
            <div class="project-image-container">
              <a href="https://codepen.io/mepsrajput/full/yjVrPN/" target="_blank">
                <picture>
                  <source srcset="/img/pixel-art.webp" type="image/webp" />
                  <source srcset="/img/pixel-art.jpg" type="image/jpeg" />
                  <img src="/img/pixel-art.jpg" alt="Pixel Art Maker" title="Pixel Art Maker Project" class="project-image">
                </picture>
              </a>
            </div>
            <div class="project-text">
              <h4 class="project-heading">Pixel-Art Project</h4>
              <p>HTML, CSS, JS, JQuery</p>
            </div>
          </div>
          <div class="project-container">
            <div class="project-image-container">
              <a href="https://mepsrajput.github.io/TributePage/" target="_blank">
                <picture>
                  <source srcset="/img/sachin.webp" type="image/webp" />
                  <source srcset="/img/sachin.jpg" type="image/jpeg" />
                  <img src="/img/sachin.jpg" alt="Sachin Tendulkar" title="Tribute Page for Sachin" class="project-image">
                </picture>
              </a>
            </div>
            <div class="project-text">
              <h4 class="project-heading">Tribute Project</h4>
              <p>HTML, CSS, Bootstrap</p>
            </div>
          </div>
          <div class="project-container">
            <div class="project-image-container">
              <a href="https://mepsrajput.github.io/ImageGallery/" target="_blank">
                <picture>
                  <source srcset="/img/image-gallery.webp" type="image/webp" />
                  <source srcset="/img/image-gallery.jpg" type="image/jpeg" />
                  <img src="/img/image-gallery.jpg" alt="Image Gallery" title="Image Gallery Project" class="project-image">
                </picture>
              </a>
            </div>
            <div class="project-text">
              <h4 class="project-heading">Gallery Project</h4>
              <p>HTML, CSS, Bootstrap</p>
            </div>
          </div>
          <div class="project-container">
            <div class="project-image-container">
              <a href="https://mepsrajput.github.io/WeatherApp/" target="_blank">
                <picture>
                  <source srcset="/img/weather.webp" type="image/webp" />
                  <source srcset="/img/weather.jpg" type="image/jpeg"/>
                  <img src="/img/weather.jpg" alt="Weather App" title="Weather App Project" class="project-image">
                </picture>
              </a>
            </div>
            <div class="project-text">
              <h4 class="project-heading">Weather App</h4>
              <p>JQuery, Weather API</p>
            </div>
          </div>
          <div class="project-container">
            <div class="project-image-container">
              <a href="https://mepsrajput.github.io/RandomQuoteGenerator/" target="_blank">
                <picture>
                  <source srcset="/img/random.webp" type="image/webp" />
                  <source srcset="/img/random.jpg" type="image/jpeg" />
                  <img src="/img/random.jpg" alt="Quote Generator" title="Random Quote Generator" class="project-image">
                </picture>
              </a>
            </div>
            <div class="project-text">
              <h4 class="project-heading">Random Quote Generator</h4>
              <p>HTML, CSS, Bootstrap, JS</p>
            </div>
          </div>
        </div>
      </section>

      <section id="articles">
        <div class="header">
          <h2>Latest Blog Posts</h2></div>
          <div class="container flex-parent" id="featured-posts">
            <div class="column">
              <div class="post-container" id="post1">
                <h4>My Journey — To become a self taught Web Developer</h4>
                <div class="date-container">
                  <div class="calendar">
                    <img src="icons/calendar.svg">
                  </div>
                  <div class="date">
                    <time datetime="2008-02-14">May 7, 2018</time>
                  </div>
                </div>
                <div class="post-text"> Let’s start from the beginning. I was born and brought up in New Delhi,
                  India in a lower middle class family. From childhood, I was fascinated by . . .</div>
                  <a href="https://medium.com/@pradeepsinghrajput/my-journey-to-become-a-self-taught-web-developer-14cbf0f313a7"
                  class="continue-link"> Read on
                  <img src="icons/mediumblue.svg">
                </a></div>
                <div class="post-container" id="post2">
                  <h4>Medium for Beginners</h4>
                  <div class="date-container">
                    <div class="calendar">
                      <img src="icons/calendar.svg">
                    </div>
                    <div class="date">
                      <time datetime="2008-02-14">2008-02-14</time>
                    </div>
                  </div>
                  <div class="post-text"> Medium is an online publishing platform developed by Evan Williams, and launched in August 2012. It is owned by A Medium Corporation . . .</div>
                  <a href="https://medium.com/@pradeepsinghrajput/medium-for-beginners-661f285a7997" class="continue-link">Read on <img src="icons/mediumblue.svg"></a></div>
                </div>
                <div class="column">
                  <div class="post-container" id="post3">
                    <h4>Three Months of Udacity Challenge Scholarship in 5 minutes</h4>
                    <div class="date-container">
                      <div class="calendar"> <img src="icons/calendar.svg"></div>
                      <div class="date">
                        <time datetime="2008-02-14">2008-02-14</time>
                      </div>
                    </div>
                    <div class="post-text"> It all started on 7 Feb, 2018, when Udacity announced the Challenge Scholarship in association with Google. A 3 month journey was about to begin.</div> <a href="https://medium.com/@pradeepsinghrajput/three-months-of-udacity-challenge-scholarship-in-5-minutes-346b002f3c13" class="continue-link">Read on <img src="icons/mediumblue.svg"></a></div>
                    <div class="post-container" id="post4">
                      <h4>Responsive Web Design Using CSS3 Media Queries</h4>
                      <div class="date-container">
                        <div class="calendar"> <img src="icons/calendar.svg"></div>
                        <div class="date">
                          <time datetime="2018-06-20">June 20, 2018</time>
                        </div>
                      </div>
                      <div class="post-text"> There are various ways for making a web page responsive, using framework like bootstrap or materialize.css or with pure css . . .</div> <a href="https://medium.com/@pradeepsinghrajput/responsive-web-design-using-css3-media-queries-d97846bb893a" class="continue-link">Read on <img src="icons/mediumblue.svg"></a></div>
                    </div>
                    <div class="column">
                      <div class="post-container" id="post5">
                        <h4>Must use Atom Packages</h4>
                        <div class="date-container">
                          <div class="calendar"> <img src="icons/calendar.svg"></div>
                          <div class="date">
                            <time datetime="2008-02-14">2008-02-14</time>
                          </div>
                        </div>
                        <div class="post-text"> It’s a code snippet tool which enable you to create HTML & CSS faster. Refer emmet for abbreviations . . .</div> 
                        <a href="https://medium.com/@pradeepsinghrajput/must-use-atom-packages-91740a3ba83b" class="continue-link">Read on <img src="icons/mediumblue.svg"></a>
                      </div>
                        <div class="post-container" id="post6">
                          <h4>Simple Java Programs with Output</h4>
                          <div class="date-container">
                            <div class="calendar"> <img src="icons/calendar.svg"></div>
                            <div class="date">
                              <time datetime="2008-02-14">2008-02-14</time>
                            </div>
                          </div>
                          <div class="post-text">
                            This post contains a list of basic java programs for beginners.
                            These programs will provide you a good understanding of the basics
                            that how java programs work. All coding written below is well tested.
                          </div>
                          <a href="https://medium.com/@psrajpoot/creating-the-mario-with-the-pixel-art-maker-7961c8b6e278"
                          class="continue-link">Read on <img src="icons/mediumblue.svg">
                        </a>
                      </div>
                    </div>
                  </div>
                </section>

                <section id="contact">
                  <div class="header">
                    <h3>Get In Touch</h3></div>
                    <div id="form-container">
                      <form autocomplete="off" onsubmit="return validateForm()" action="https://formspree.io/viveksingh12126@gmail.com" method="POST" id="form">
                        <input type="text" name="name" id="name" required autocomplete="off">
                        <label id="name-label" for="name">Full Name</label>
                        <input type="text" name="email" id="email" required autocomplete="off">
                        <label id="email-label" for="email">Email</label>
                        <textarea name="message" rows="1" id="textarea" required></textarea>
                        <label id="msg" for="textarea">Message</label>
                        <div id="separator"></div>
                        <button id="submit-btn">Submit</button>
                      </form>
                    </div>
                  </section>
                </main>
                <footer id="footer">
                  <div id="up-arrow"></div>
                  <section class="container flex-parent" id="footer-container">
                    <div id="about-me" class="footer-content">
                      <picture>
                        <source srcset="img/ps 1.webp" type="image/webp" />
                        <source srcset="img/ps 1.jpg" type="image/jpeg" />
                        <img src="img/ps 1.jpg" alt="Pradeep Singh" title="Pradeep Singh">
                      </picture>
                      "Web and Wordpress Developer. Apart from this I'm a <a href="http://eduonline24.in">Blogger</a> as well.
                      I always give priority to create SEO optimized, responsive websites which loads faster on any type
                      of devices and provides great user experience to the users.</div>
                      <div id="follow" class="footer-content">
                        <div id="follow-twitter" class="follow-divs">
                          <a href="https://twitter.com/mepsrajput"> <img src="icons/twitter.svg"></a>
                          Follow <a href="https://twitter.com/mepsrajput">@mepsrajput</a>
                          on twitter to be updated with latest tweets on technology, politics and more.
                        </div>
                        <div id="follow-gplus" class="follow-divs">
                          <a href="https://plus.google.com/+PradeepSinghOfficial/">
                            <img src="icons/instagram.svg">
                          </a> View <a href="https://www.instagram.com/psrofficial/">psrofficial</a>'s insta pics on Instagram</div>
                          <div id="follow-github" class="follow-divs">
                            <a href="https://github.com/mepsrajput">
                              <img src="icons/github.svg">
                            </a> View <a href="https://github.com/mepsrajput">mepsrajput</a> on GitHub and contribute to <a href="https://github.com/mepsrajput/"></a>FOSS Projects</a></div>
                          </div>
                          <div id="mini-nav" class="footer-content">
                            <div id="more-about" class="nav-menu2">
                              <h5><a href="#">About Me</a></h5>
                              <p>Know more about Pradeep and his life.</p>
                            </div>
                            <div id="more-projects" class="nav-menu2">
                              <h5><a href="#">Projects</a></h5>
                              <p>View more projcts</p>
                            </div>
                            <div id="bug" class="nav-menu2">
                              <h5><a href="#contact">Report a Bug</a></h5>
                              <p>Did you noticed any unusual thing on this website. Please let me know about it.</p>
                            </div>
                          </div>
                        </section>
                        <div id="copyright-section">
                          <div id="copyright-container">
                            <p> © 2020 | All rights reversed.</p>
                          </div>
                        </div>
                      </footer>
                      <div id="scroller-container">
                        <div id="scroll-up" title="Top" onclick="scrollToTop(1000)">
                          <img src="icons/angle.svg">
                        </div>
                        <div id="scroller-bottom"></div>
                      </div>
                      <link rel="stylesheet" href="css/style.css">
                      <script src="js/script.js"></script>
                    </body>

                    </html>
