<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav id="navbar"></nav>

  <!-- Certifications Section -->
  <section id="certifications">
    <div class="header">
      <h2>Certifications</h2>
    </div>
    <div class="container" id="certifications-container">
      <div class="thumbnail">
        <img class="certificate" src="img/html_certificate.jpg" alt="HTML certificate">
      </div>
      <div class="thumbnail">
        <img class="certificate" src="img/css_certificate.jpg" alt="CSS certificate">
      </div>
      <div class="thumbnail">
        <img class="certificate" src="img/online_marketing.jpg" alt="Online marketing certificate">
      </div>
      <div class="thumbnail">
        <img class="certificate" src="img/google_analytics.jpg" alt="Google analytics certificate">
      </div>
    </div>
  </section>

</body>
</html>
