<!doctype html>

<!--
                               ____                  
                            _.' :  `._               
                        .-.'`.  ;   .'`.-.           
               __      / : ___\ ;  /___ ; \      __  
             ,'_ ""=-.:__;".-.";: :".-.":__;.-="" _`,
             :' `.t""=-.. '<@.`;_  ',@:` ..-=""j.' `;
                  `:-.._J '-.-'L__ `-.-' L_..-;'     
                    "-.__ ;  .-"  "-.  : __.-"       
                        L ' /.======.\ ' J           
                         "-.   "__"   .-"            
                        __.l"-:_JL_;-";.__           
                     .-j/'.;  ;""""  / .'\"-.        
                   .' /:`. "-.:     .-" .';  `.      
                .-"  / ;  "-. "-..-" .-"  :    "-.   
             .+"-.  : :      "-.__.-"      ;-._   \  
             ; \  `.; ;                    : : "+. ; 
             :  ;   ; ;                    : ;  : \: 
             ;  :   ; :                    ;:   ;  : 
            : \  ;  :  ;                  : ;  /  :: 
            ;  ; :   ; :                  ;   :   ;: 
            :  :  ;  :  ;                : :  ;  : ; 
            ;\    :   ; :                ; ;     ; ; 
            : `."-;   :  ;              :  ;    /  ; 
             ;    -:   ; :              ;  : .-"   : 
             :\     \  :  ;            : \.-"      : 
              ;`.    \  ; :            ;.'_..-=  / ; 
              :  "-.  "-:  ;          :/."      .'  :
               \         \ :          ;/  __        :
                \       .-`.\        /t-""  ":-+.   :
                 `.  .-"    `l    __/ /`. :  ; ; \  ;
                   \   .-" .-"-.-"  .' .'j \  /   ;/ 
                    \ / .-"   /.     .'.' ;_:'    ;  
                     :-""-.`./-.'     /    `.___.'   
                           \ `t  ._  /               
                            "-.t-._:'            

-->

<html lang="en">
<head>
    <title>|->>>Thank You<<<-|</title>
    <!-- <link rel="icon" href="favicon.png" type="image/x-icon"> -->
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />  
    <link href="css/gcp.css" rel="stylesheet" />  
   
    <style>
@font-face{font-family:fancy;src:url(Cheveuxdange.ttf)}.myText{padding:12px;color:#000;font-family:fancy,sans-serif;font-size:30px;line-height:1.5em;font-weight:700}
</style>

</head>

<body class="impress-not-supported">

<div id="impress">

    <div class="step slide myText" data-x="-4000" data-y="-1500">
        <div class="pixelbar cloud-full-bleed">
            <div class="pb-red"></div>
            <div class="pb-blue"></div>
            <div class="pb-green"></div>
            <div class="pb-yellow"></div>
        </div>
        <!-- <q align="center"> -->
			<h2>Leading Companies That Trust Google Cloud</h2>
			<div id="highlightsContainer">
				<div class="highlightsInner container">
                    <div class="highlight">
                        <div><em class="number">8</em> / top 10 Telecommunications companies</div>
                    </div>
                    <div class="highlight">
                        <div><em class="number">7</em> / top 10 Media & entertainment companies</div>
                    </div>
                    <div class="highlight">
                        <div><em class="number">7</em> / top 10 Retail & CPG companies</div>
                    </div>
				</div>
				<div class="highlightsInner container">
                    <div class="highlight">
                        <div><em class="number">7</em> / top 10 Software & internet companies</div>
                    </div>
                    <div class="highlight">
                        <div><em class="number">5</em> / top 10 Financial services companies</div>
                    </div>
                    <div class="highlight">
                        <div><em class="number">5</em> / top 10 Logistics & transportation companies</div>
                    </div>
                </div>
				<div class="highlightsInner container">
                    <div class="highlight">
                        <div><em class="number">5</em> / top 10 Professional services companies</div>
                    </div>
                    <div class="highlight">
                        <div><em class="number">5</em> / top 10 Automotive manufacturing companies</div>
                    </div>
                </div>
			</div>	
		<!-- </q> -->
    </div>
    
    <div class="step slide myText" data-x="-3000" data-y="-1500">
        <q align="center">Thank you Deepthi & Prakash for your guidance, support and for tolerating my mistakes !!!</q>
    </div>
    
    <div class="step slide myText" data-x="-2000" data-y="-1500">
        <q align="center">Harshita (aka. Chakku), bro !!! will miss 5 pm hiccups, no more Nimhans now. Lot of good wishes for you, keep going.           </q>
    </div>

    <div class="step slide myText" data-x="-1000" data-y="-1500">
        <q align="center">Sharvari, strong girl. I have a great respect for you. May the Lord give you more reasons to smile !!!</q>
    </div>
    
     <div class="step slide myText" data-x="0" data-y="-1500">
        <q align="center">Avi... the cool guy. Never got a bossy look from you, always helping. May the harley, always be with you ... </q>
    </div>
    
    <div class="step slide myText" data-x="1000" data-y="-1500">
        <q align="center">Vineet - Jack of all trades, I wish your second innings will be much better than the first one. </q>
    </div>
    
    <div class="step slide myText" data-x="2000" data-y="-1500">
        <q align="center">Pooja, sorry for troubling you so much. Hope you will forgive me.</q>
    </div>
   
    <div id="title" class="step" data-x="-20" data-y="-500" data-scale="4">
        <span class="try">Prasoon, my brother from another mother. Buddy please no ISKCON talks</span>              
    </div>
   
    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
        <span>
            Divya, I won't be able to say enough thanks to you. 
            A <a target="_blank" href="https://www.womenwhocode.com/">women who code</a> and can make some awesome food.        
        </span>
    </div>

    <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
        <p>Sreerekha<br/><span class="thoughts">Lot of peeeeeeeeace ....</span></p>
    </div>
    
    <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
        <p>Vardhan <b class="positioning">buddy</b>, <b class="rotating">no more shits...</b> hope you get your <b class="scaling"> cleopatra</b>         </p>
    </div>

    <div id="imagination" class="step" data-x="6000" data-y="-300" data-scale="6">
        <p><b>Pritish (aka. Kebab and Khuska), </b><b class="imagination"> the giant ...</b></p>
    </div>      

    <div id="source" class="step" data-x="6300" data-y="2000" data-rotate="20" data-scale="4">
        <p><b>Pradeepa</b>, go get married.</p>
        <q>hey I didn't mean Marathahalli, sorry ...</q>
    </div>

    <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
        <p>and just because you guys (Abhay, Komala, Roop, Prachi, Varsha, Divya (HR)) are not here, it doesn't mean I forgot you</p>
    </div>
   
    <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        <p>Miss you guys ...</p>
    </div>    
  
    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>

</div>

<div class="hint">
    <p>Use spacebar or arrow keys to navigate</p>
</div>
    
<script src="js/gcp.js"></script>
<script>impress().init();</script>

</body>
</html>